<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main-content.css">
    <link rel="stylesheet" href="/css/book-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>  
    {{> header}}
    <div class="main-content">
        <div class="main-content-inner-part-book-page">
            <div class="book-upper-part">
                <div class="book-upper-part-picture">
                    <img src="{{book.image}}" alt="">
                    <div>{{book.price}}$</div>
                    <button>Add to cart</button>
                </div>
                <div class="book-upper-part-main-content">
                    <div class="book-upper-part-main-content-title">{{book.name}}</div>
                    <hr>
                    <div class="book-upper-part-main-content-author">
                        By (author)  {{book.author}}
                    </div>
                    <div class="book-upper-part-main-content-description">
                        <textarea name="" id=""  readonly>{{book.description}}</textarea>
                        
                        {{!-- <p>See the Grishaverse come to life on screen with Shadow and Bone, now a Netflix original series.</p>
                        <p>Enter the Grishaverse with book one of the Shadow and Bone Trilogy by number one New York Times-bestselling author, Leigh Bardugo. Perfect for fans of Laini Taylor and Sarah J. Maas.</p>
                        <p>Now with a stunning new cover and exclusive bonus material: The Demon in the Wood (a Darkling prequel story) and a Q&A with Leigh Bardugo.</p>
                        <p>Soldier. Summoner. Saint. Orphaned and expendable, Alina Starkov is a soldier who knows she may not survive her first trek across the Shadow Fold - a swath of unnatural darkness crawling with monsters. But when her regiment is attacked, Alina unleashes dormant magic not even she knew she possessed.</p>
                        <p>Now Alina will enter a lavish world of royalty and intrigue as she trains with the Grisha, her country's magical military elite - and falls under the spell of their notorious leader, the Darkling. He believes Alina can summon a force capable of destroying the Shadow Fold and reuniting their war-ravaged country, but only if she can master her untamed gift.</p> --}}
                        {{!-- <p>As the threat to the kingdom mounts and Alina unlocks the secrets of her past, she will make a dangerous discovery that could threaten all she loves and the very future of a nation.</p> --}}
                        
                        
                    </div>
                </div>
            </div>
            <div class="book-middle-part">
                <div class="book-middle-part-title">Book details</div>
                <hr>
                <div class="book-details-container">
                    <div class="book-details-left">
                        <div><b>Format: </b> {{book.format}}</div>
                        <div><b>Dimensions: </b> {{book.dimensions}}</div>
                        <div><b>Publication date: </b> {{book.publicationDate}}</div>
                    </div>
                    <div class="book-details-right">
                        <div><b>Publisher:</b> {{book.publisher}}</div>
                        <div><b>Publication:</b> {{book.publication}}</div>
                        <div><b>Language:</b> {{book.language}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>