<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main-content.css">
    <link rel="stylesheet" href="css/cart-page.css">
    <link rel="stylesheet" href="css/book-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
        <div class="main-content">
            <div class="main-content-inner-part">
                {{#each bookList}}
                    <div class="book-atc-continer">
                        <div class="book-atc-wrap">
                            <div class="book-atc-picture">
                                <img style="max-width: 100%; max-height: 100%;" src="{{bookDetails.image}}" alt="">
                            </div>
                            <div class="book-atc-details">
                                <div class="book-upper-part-main-content-title">{{bookDetails.name}}</div>
                                    <hr>
                                    <div style="font-weight: 500 !important;" class="book-upper-part-main-content-author">
                                        <b>By (author):</b>  {{bookDetails.author}}
                                    </div>
                                    <div style="font-weight: 500 !important;" class="book-upper-part-main-content-author">
                                        <b>Price</b>  {{bookDetails.price}}$
                                    </div>
                                
                            </div>
                            <div class="book-atc-action" style="color: #2196F3;">
                                <b>{{booksPrice}}$</b>
                                <form method="POST" action="/atc/updateQuantity/{{bookDetails._id}}" class="book-atc-action-edit">
                                    <input min="1" name="quantity" value="{{quantity}}" type="number">
                                    <button type="submit">save</button>
                                </form>
                                <form method="POST" action="/atc/removeBook/{{bookDetails._id}}">
                                    <button type="submit" class="book-atc-action-remove">remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
                
                <div class="cart-final-result-box">
                    <div><b>Total price:</b> {{totalPrice}}$</div>
                    <button id="myBtn" class="book-atc-checkout">Checkout</button>
                </div>
                

                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Thanks for buying!</p>
                    </div>
                </div>

            </div>
            
        </div>
        <script src="/js/modal.js"></script>
</body>
</html>