<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main-content.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    {{> header}}
    <div class="main-content">
        <div class="main-content-inner-part-pro">
            <div class="form-div">
                <div class="profile-upper">
                        <h1>Profile</h1>
                        {{!-- <button class="">edit</button> --}}
                </div>

                <hr>
                    <div class="profile-line">   
                        <label><b>Name: </b></label>
                        <label>{{userName}}</label>
                        <button id="nameEditButton">edit</button>
                        
                    </div>
                    
                    <form method="POST" action="/profile/update">
                        <div id="nameEditField" class="edit-line">
                            <input placeholder="Enter your new name" name="name" type="text" id="nameEditInput">
                            <button type="submit" id="nameSaveButton">save</button>
                        </div>
                        
                    </form>
                    <div id="nameErrorMSG" class="profile-line psw-warning-msg open-warning-msg">{{nameErrorMSG}}</div>

                    <div class="profile-line">   
                        <label><b>Email: </b></label>
                        <label>{{email}}</label>
                        <button id="emailEditButton">edit</button>
                    </div>
                    <form method="POST" action="/profile/update">
                        <div id="emailEditField" class="edit-line">
                            <input placeholder="Enter your new Email" name="email" type="text" id="emailEditInput">
                            <button type="submit" id="emailSaveButton">save</button>
                        </div>
                    </form>
                    <div id="emailErrorMSG" class="profile-line psw-warning-msg open-warning-msg">{{emailErrorMSG}}</div>
                    
                    
                    <div class="profile-line">   
                        <label><b>Password: </b></label
                        <label>******************</label>
                        <button id="pswEditButton">edit</button>
                    </div>
                    <form  method="POST" action="/profile/update ">
                        <div id="pswEditField" class="edit-line">
                            <input class="psw-input" placeholder="Enter your new password" name="password" type="text"  id="psw1EditInput"><br>
                            {{!-- <input placeholder="Repeat your password" type="text" id="psw2EditInput"> --}}
                            {{!-- <p id="psw-warning-msg">You passwords must match and be greater than 7 chars</p> --}}
                            <button type="submit" id="pswSaveButton">save</button>
                        </div>
                    </form>
                    <div id="passwordErrorMSG" class="profile-line psw-warning-msg open-warning-msg">{{passwordErrorMSG}}</div>
            </div>

            <div class="profile-page-logout-buttons">
                <form method="POST" action="/profile/logoutAll"><button type="submit" class="registerbtn">Logout from all devices</button></form>
                <form method="POST" action="/profile/logout"><button type="submit" class="registerbtn">Logout</button></form>
                <form method="GET" action="/profile/admin"><button id="adminDashBoardButton" type="submit" class="registerbtn">{{dashBoard}}</button></form>
            </div>
            

        

        </div>
    </div>
    
    
    <script src="profile-edit.js"></script>
    <script src="dash-board-button.js"></script>
</body>
</html>